body {
  background-color: #262254;
  font-family: "Montserrat", sans-serif;
}

button.btn-info {
  background-color: #9a77cf;
  color: #ffffff;
  border-color: #9a77cf;
  margin-right: 5px;
}

h1 {
  display: block;
  margin-bottom: 0;
  font-size: 1.5rem;
}

h3 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: capitalize;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

span.units a {
  color: #543884;
}

.search {
  display: block;
  margin: 0 auto;
  padding: 0 11%;
}

.weather-app {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.071);
  border-radius: 25px;
  padding: 30px 30px;
  margin: 40px auto;
}

.overview {
  color: #a13670;
  font-size: 1.5rem;
  padding: 6% 10%;
  line-height: 1.2;
}

.img-weather {
  text-align: center;
  background-color: #a1367195;
  color: #ffffff;
  border-radius: 25px;
  padding: 13% 0;
  margin: 0 5%;
  margin-right: 0;
}

.data-weather {
  color: #9a77cf;
  text-align: center;
  padding: 10% 0;
}

.units {
  position: relative;
  top: -42px;
  padding-left: 5px;
}

#temperature {
  font-size: 5rem;
}

.forecast {
  color: #ffa45e;
  margin-top: 25px;
  text-align: center;
}

.box-day {
  background-color: #ffa45e60;
  border-radius: 15px;
  margin: 10px 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.footer a {
  color: #9a77cf;
}

.data-weather .active {
  color: #9a77cf;
  cursor: default;
}

.data-weather .active:hover {
  text-decoration: none;
}
